*.html
*.pdf
.latexbuild/

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebook.py

# Environments
.env
.venv
env/
venv/
ENV/

# ignore __pycache__ folders
__pycache__/

*.egg-info/
build/
